<div class="admin-dash-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="admin-dash-container mat-elevation-z8">
<form [formGroup]="challengerstatusform">
  <mat-table [dataSource]="dataSource" matSort>

    <!-- Challenger Name Column -->
    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fullName}} </mat-cell>
    </ng-container>
	
	<!-- Challenger age -->
    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef > Age </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.age}} </mat-cell>
    </ng-container>
	
	<!-- Challenger gender -->
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.gender}} </mat-cell>
    </ng-container>
	
	<!-- Challenger state -->
    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.state}} </mat-cell>
    </ng-container>

	<!-- Challenger country -->
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.country}} </mat-cell>
    </ng-container>
	
	<!-- Challenger BMI -->
    <ng-container matColumnDef="bmi">
      <mat-header-cell *matHeaderCellDef> BMI </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.bmi}} </mat-cell>
    </ng-container>
	
	<!-- Challenger Reason -->
    <ng-container matColumnDef="reason">
      <mat-header-cell *matHeaderCellDef> Reason </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.reason}} </mat-cell>
    </ng-container> 
	
	<!-- Challenger Medical Condition -->
    <ng-container matColumnDef="medicalCondition">
      <mat-header-cell *matHeaderCellDef> Medical Condition </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.medicalCondition}} </mat-cell>
    </ng-container>
	
	<!-- Challenger Diet Restriction -->
    <ng-container matColumnDef="dietRestriction">
      <mat-header-cell *matHeaderCellDef> Diet Restriction </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.dietRestriction}} </mat-cell>
    </ng-container> 
	
	<!-- Challenger Diet Type -->
    <ng-container matColumnDef="dietType">
      <mat-header-cell *matHeaderCellDef> Diet Type </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.dietType}} </mat-cell>
    </ng-container>
	
	<!-- Challenger Diet Type -->
    <ng-container matColumnDef="pregnancyStatus">
      <mat-header-cell *matHeaderCellDef> Pregnancy Status </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.pregnancyStatus}} </mat-cell>
    </ng-container>
	
	<!-- Challenger Referred Code -->
    <ng-container matColumnDef="referredCode">
      <mat-header-cell *matHeaderCellDef> Referral Code </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.referredCode}} </mat-cell>
    </ng-container>
	
	<!-- Challenger Referred Code  -->
    <ng-container matColumnDef="rejectionReason">
      <mat-header-cell *matHeaderCellDef> Reason for rejection(If rejected) </mat-header-cell>
      <mat-cell *matCellDef="let row"> 
		 <mat-form-field>
             <input type="text" matInput  placeholder="Reason (If rejected)" formControlName="rejectionReason" id="rejectionReason" required>
			  <mat-error *ngIf="isRejected && challengersaveform.controls.rejectionReason.hasError('required')">Reason for rejection is required</mat-error>
		 </mat-form-field>
	  </mat-cell>
    </ng-container>
	
	<!-- Approve/Reject a challenger add,favourite,clear,done,not-interested-->
	<ng-container matColumnDef="status">
	  <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
	  <mat-cell *matCellDef="let row" >
		<button mat-mini-fab color="primary" (click) = "approved(row)">
			<mat-icon>add</mat-icon>
		</button>
		<button mat-mini-fab color="warn" (click) ="rejected(row)">
			<mat-icon>clear</mat-icon>
		</button>
	  </mat-cell>
	</ng-container>
	
	
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> 
 </form>
 </div>


